* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  /* border: 1px solid black; */
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 922px;
  min-width: 320px;
  width: 100%;
}

#top_header {
  height: 100px;
  background-color: #de6a2f;
}

#top_header a {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

#top_header h1 {
  color: #fff;
  line-height: 100px;
  font-weight: 900;
  font-size: 40px;
}

#top_header ul {
    width: 70%;
}

#top_header li {
  line-height: 100px;
  margin: 0 auto;
}


.flex{
  display: flex;
}

.row-reverse {
  flex-direction: row-reverse;
}

.column {
  flex-direction: column;
}

.space_between {
  justify-content: space-between;
}

.space_around {
  justify-content: space-around;
}

.justify_center {
  justify-content: center;
}

.align_center {
  align-items: center;
}

.align_stretch {
  align-items: stretch;
}

.align_end {
  align-items: flex-end;
}

.grow_1{
  flex-grow: 1;
}

.grow_2{
  flex-grow: 2;
}

#apresentacao {
  height: 50vh;
}

#texto_apresentacao {
  height: 250px;
}

#texto_apresentacao h1{
  font-size: 60px;
  color: #de6a2f;
}

#texto_apresentacao p{
  font-size: 20px;
  color: #de6a2f;
}

#texto_apresentacao a{
  font-size: 20px;
  color: #fff;
  background-color: #de6a2f;
  width: 80%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 30px;
  margin-top: 20px;
}

#texto_quem_somos {
  width: 50%;
}

#quem_somos {
  min-height: 40vh;
}

#quem_somos h2 {
  font-size: 32px;
  color: #de6a2f;
  padding-left: 5px;
  border-left: 6px solid #de6a2f;
  height: 50px;
  line-height: 50px;
}

#texto_quem_somos p {
  margin-top: 20px;
  color: #de6a2f;
  font-size: 20px;
}

#servicos {
  background-color: #de6a2f;
  min-height: 60vh;
}

#servicos h2 {
  font-size: 40px;
  color: #fff;
  height: 15vh;
  line-height: 15vh;
}

.item_servico {
  text-align: center;
}


.item_servico p {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  margin: 60px 0;
}

.item_servico a {
  display: block;
  font-size: 20px;
  color: #de6a2f;
  background-color: #fff;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 30px;
  margin-bottom: 50px;
}

#planos {
  margin-bottom: 40px;
}

#planos h2 {
  font-size: 40px;
  color: #de6a2f;
  height: 15vh;
  line-height: 15vh;
}


#container_planos {
  min-height: 50vh;
}

.item_planos {
  border: 6px solid #de6a2f;
  margin: 0 40px;
  min-width: 320px;
}

.item_planos h3{
  color: #de6a2f;
  border-bottom: 6px solid #de6a2f;
  font-size: 32px;
  text-align: center;
  height: 100px;
  line-height: 100px;
  width: 90%;
  margin-bottom: 50px;
}

.item_planos ul {
  margin-bottom: 50px;
}

.item_planos li {
  color: #de6a2f;
  list-style: square outside;
  font-size: 20px;
}

.item_planos a {
  display: block;
  color: #fff;
  background-color: #de6a2f;
  font-size: 20px;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  width: 200px;
  text-align: center;
  border-radius: 30px;
  margin-bottom: 40px;
}

footer {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  background-color: #de6a2f;
  height: 100px;
  line-height: 100px;
}




/* media queries ***************************************/
/* media queries ***************************************/
/* media queries ***************************************/
/* media queries ***************************************/

@media(max-width:800px) {
  #top_header div.container{
    flex-direction: column;
  }

  #quem_somos{
    flex-direction: column-reverse;
  }

  .space_between {
    justify-content: center;
  }

  #top_header {
    margin-bottom: 100px;
  }

  #top_header ul {
    margin-top: 5px;
    width: 100%;
  }

  #top_header h1 {
    line-height: 70px;
    text-align: center;
  }

  #top_header li {
    line-height: 0px;
  }

  #apresentacao {
    flex-direction: column-reverse;
    height: 70vh;
  }

  #texto_quem_somos {
    width: 95%;
    margin: 0 auto 40px auto;
  }

  #texto_servicos {
    flex-direction: column;
  }

  
  #container_planos {
    flex-direction: column;
    align-items: stretch;
  }

  .item_planos {
    margin-bottom: 20px;
  }

  footer{
    height: 50px;
    text-align: center;
    font-size: 16px;
    line-height: 25px;
  }
  
  #footer {
    flex-direction: column;
  }

}